
.kanbanColumn:hover .drag {
  display: block !important;
}

.kanbanColumn .drag {
  display: none;
  cursor: grab;
}

.kanbanColumn .drag:active {
  cursor: grabbing;
}

.card:hover .menu {
  display: inline-flex !important;
}

.card .menu {
  display: none !important;
}

.card .menu.menuOpen {
  display: inline-flex !important;
}

.scroll::-webkit-scrollbar {
  inline-size: 6px;
  block-size: 6px;
}

.scroll::-webkit-scrollbar-track {
  box-shadow: none;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: var(--mui-palette-divider);
  border-radius: 6px;
}
