.tableHead {
.tableHead tr th:not(:first-child) {
  text-align: center;
}
}

.tableBody {
.tableBody tr td:not(:first-child) {
  text-align: center;
}
.tableBody tr:nth-child(even) {
  background-color: var(--mui-palette-action-hover);
}
}
